/node_modules
node_modules
/public/hot
/public/storage
/public/attacments
/public/attachments
/storage/*.key
/vendor
.env
.env.backup
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database.php
.vscode/sftp.json

