node_modules
/public/hot
/public/attachments
/public/storage
/public/uploads
/public/index.html*
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/modules
database.php
!/.gitignore
hdcms.zip
/public/modules
/public/zips
install.lock
.DS_Store
.vscode
