/*
$k-media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
.k-invoice-v2 .k-invoice-v2__header {
  padding: 10rem 20rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1399px) {
    .k-invoice-v2 .k-invoice-v2__header {
      padding: 10rem 5rem 0; } }
  @media (max-width: 1024px) {
    .k-invoice-v2 .k-invoice-v2__header {
      padding: 5rem 5rem 2rem; } }
  .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-left .k-invoice-v2__title {
      font-size: 5rem;
      font-weight: 700;
      margin-bottom: 5rem;
      color: #000000; }
    @media (max-width: 768px) {
      .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-left {
        margin-bottom: 3rem;
        text-align: center;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
        .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-left .k-invoice-v2__title {
          font-size: 2.5rem;
          margin-bottom: 0; } }
  .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-right {
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media (max-width: 768px) {
      .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-right {
        text-align: center;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-right .k-invoice-v2__logo {
      margin-bottom: 1.25rem; }
      .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-right .k-invoice-v2__logo .k-invoice-v2__logoimage {
        display: inline-block;
        width: 9rem; }
    .k-invoice-v2 .k-invoice-v2__header .k-invoice-v2__header-right .k-invoice-v2__companyinfo {
      color: #7a8091;
      font-size: 1.25rem;
      font-weight: 500; }

.k-invoice-v2 .k-invoice-v2__line {
  margin: 2rem 20rem;
  border-bottom: 1px solid #eaebec; }
  @media (max-width: 1399px) {
    .k-invoice-v2 .k-invoice-v2__line {
      margin: 2rem 5rem; } }

.k-invoice-v2 .k-invoice-v2__details {
  padding: 2rem 20rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1399px) {
    .k-invoice-v2 .k-invoice-v2__details {
      padding: 2rem 5rem 10rem;
      padding-bottom: 0; } }
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-left .k-invoice-v2__details-label,
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right .k-invoice-v2__details-label {
    font-weight: 700;
    font-size: 1.25rem;
    color: #a9a9b8;
    margin-bottom: 1.25rem; }
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-left .k-invoice-v2__details-value,
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right .k-invoice-v2__details-value {
    color: #7a8091;
    font-size: 1.25rem;
    font-weight: 500; }
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-left {
    margin-bottom: 1.25rem;
    margin-left: 1.25rem; }
    @media (max-width: 576px) {
      .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-left {
        margin-left: 0; } }
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right .k-invoice-v2__details-date,
  .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right .k-invoice-v2__details-invoiceno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right .k-invoice-v2__details-date .k-invoice-v2__details-label,
    .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right .k-invoice-v2__details-invoiceno .k-invoice-v2__details-label {
      margin-left: 4rem; }
  @media (max-width: 768px) {
    .k-invoice-v2 .k-invoice-v2__details .k-invoice-v2__details-right {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; } }

.k-invoice-v2 .k-invoice-v2__body {
  padding: 10rem 20rem; }
  @media (max-width: 1399px) {
    .k-invoice-v2 .k-invoice-v2__body {
      padding: 10rem 5rem; } }
  @media (max-width: 1024px) {
    .k-invoice-v2 .k-invoice-v2__body {
      padding: 5rem; } }
  .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary {
    width: 100%;
    margin-bottom: 10rem; }
    .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-header {
      color: #a9a9b8;
      font-weight: 700;
      font-size: 1rem;
      border-bottom: 1px solid #eaebec;
      margin-bottom: 0.75rem;
      letter-spacing: 0.1rem; }
      .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-header > tr > td {
        text-align: left;
        padding-bottom: 0.75rem; }
        .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-header > tr > td:first-child {
          text-align: right; }
    .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-body {
      font-size: 1.25rem;
      font-weight: 500;
      color: #7a8091; }
      .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-body > tr:first-child > td {
        padding-top: 2.25rem; }
      .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-body > tr > td {
        text-align: left;
        padding: 1rem 0.5rem; }
        .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-body > tr > td:first-child {
          text-align: right;
          padding-right: 0; }
        .k-invoice-v2 .k-invoice-v2__body .k-invoice-v2__summary .k-invoice-v2__summary-body > tr > td:last-child {
          padding-left: 0;
          color: #fb2f73; }

.k-invoice-v2 .k-invoice-v2__payment {
  padding: 10rem 20rem;
  width: 100%;
  background-color: #f4f4f7; }
  @media (max-width: 1399px) {
    .k-invoice-v2 .k-invoice-v2__payment {
      padding: 10rem 5rem; } }
  @media (max-width: 1024px) {
    .k-invoice-v2 .k-invoice-v2__payment {
      padding: 5rem; } }
  .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-header {
    color: #a9a9b8;
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 1px solid #eaebec;
    margin-bottom: 0.75rem;
    letter-spacing: 0.1rem; }
    .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-header > tr > td {
      padding-bottom: 0.75rem; }
      .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-header > tr > td:last-child {
        text-align: left; }
  .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-body {
    font-size: 1.25rem;
    font-weight: 500;
    color: #7a8091; }
    .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-body > tr:first-child > td {
      padding-top: 2.25rem; }
    .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-body > tr > td {
      padding: 1rem 0.5rem; }
      .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-body > tr > td:first-child {
        padding-right: 0; }
      .k-invoice-v2 .k-invoice-v2__payment .k-invoice-v2__payment-body > tr > td:last-child {
        text-align: left;
        padding-left: 0;
        font-size: 2.5rem;
        color: #fb2f73;
        font-weight: 600; }
