.admin {
  background: url('../images/admin.jpg');
  background-size: contain;
  height: 100vh;
  a:hover{
    text-decoration: none !important;
  }
  //系统与站点顶部导航菜单
  .top-menu {
    background: #353644;
    margin-bottom: 10px;
  }
  .admin-setting-menu {
    .logo {
      background: url('../images/logo.png') no-repeat;
      background-size: contain;
      height: 60px;
      opacity: .9;
    }
    //顶部大导航块
    .admin-site-menu {
      a {
        &.tile {
          margin-right: 10px;
          padding: .5em 1em .5em 1em;
          display: block;
          float: right;
          width: 8em;
          text-align: center;
          background: #006675;
          color: #eeeeee;
          opacity: .8;
          box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
          text-decoration: none;

          &:hover {
            background: #438384;
          }

          i {
            display: block;
          }
        }

        &.active {
          opacity: .95;
          background: #006675;
        }
      }
    }
  }
  //底部
  .admin-footer {
    a {
      color: #ffffff;
      display: inline-block;
    }
  }
}