// Variables
// @import "variables";
// Bootstrap
// @import "~bootstrap/scss/bootstrap";
a {
    text-decoration: none !important;
}
button {
    outline: none !important;
}
:root {
    font-size: 15px;
}
