.account {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 450px;
    @media screen and(max-width:768px) {
      width: 90%;
    }
  }
}
