a {
  color: #6c757d;
  text-decoration: none;
}
.card{
  border-radius:0;
}
.nav-tabs {
  .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &.active {
      background: #e4eaec !important;
      border-color: #dee2e6 #dee2e6 #dee2e6;
    }
  }
}