a {
  text-decoration: none !important;
  color: #999;
}
:root {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif !important;
}
[v-cloak] {
  display: none;
}
audio {
  outline: none;
}
