.edu-home {
  article.lesson-list {
    .position-relative {
      img {
        height: 195px;
      }
    }
    h4.h6 {
      height: 50px;
    }
  }
}

.edu-video-show {
  .video-box {
    overflow: hidden;
    height: 692px;
    position: relative;
    @media screen and (max-width: 768px) {
      height: 200px;
    }
    #video {
      width: 100%;
      background: #000;
      @media screen and (max-width: 768px) {
        height: 200px;
      }
    }
    #category {
      @media screen and (min-width: 960px) {
        //display: none;
      }
      display: none;
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      box-shadow: 10px 0 40px #999;
      .video-lists {
        max-height: 626px;
        overflow: auto;
        ul {
          a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

  }
}

.edu-lesson-show {
  video {
    width: 100%;
    height: auto;
  }
}

.edu-article-show {
  .content {
    line-height: 2.5em;
    font-size: 16px;
    color: #555;
  }
}

.edu-shop-index {
  .shop {
    .price {
      font-size: 38px;
    }
  }
}

//帖子详情页
.edu-topic-show {
  img {
    max-width: 100%;
    margin: 10px 0;
  }
}

//文档显示
.edu-section-show {

}

//学习动态
.learning_dynamic {
  .media-body{
    overflow: hidden;
    p{
      a{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 98%;
        display: inline-block;
      }
    }
  }
}