.edu-lesson-show {
  .lesson-list {
    .video-title {
      font-weight: normal;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.edu-lesson-lists,.edu-lesson-tag {
  article {
    .position-relative {
      img {
        height: 130px;
      }
    }
    h4.lesson-title {
      font-weight: normal;
      font-size: 14px;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}