body.member {
  background: #fefefe;
  .member-top {
    border-top: solid 4px #f15a57;
    background: #f7f8f9;
  }
  .menu {
    .icon {
      img {
        width: 200px;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
