.edu-sign-create{
  ul.moods{
    padding: 5px;
    background: #fafafa;
    height: auto;
    overflow: hidden;
    li{
      list-style: none;
      float:left;
      border:solid 1px #fff;
      margin-right: 10px;
      padding: 5px 0;
      &.active{
        background: rgb(247, 250, 255);
        border: 2px dashed rgb(209, 216, 216);padding: 5px;
      }
    }
  }
}