body {
  background: #f8f9fa;
}

.admin-site {
  background-size: contain;
  height: 100vh;
  a:hover {
    text-decoration: none !important;
  }

  //系统与站点顶部导航菜单
  .top-menu {
    background: #353644;
    margin-bottom: 10px;
  }
  .site-container {
  }
}
.site-chat-index{
  .wx-img{
    height: 60px;
  }
}