// 会员登录
.login {
  background-image: url('/images/member-login.jpg');
  background-size: cover;
  height: 100vh;
  perspective: 800px;
  .card {
    filter: sepia(10%) blur(0px);
    transition: 1s;
    transform: rotateY(0deg) scale(1);
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    @media screen and (min-width: 768px) {
      width: 500px;
    }
    .card:hover {
      filter: sepia(20%);
      transform: rotateY(0deg) scale(1);
    }
  }
}

.system-login {
  background-image: url('/images/system-login.jpg');
  background-size: cover;
  height: 100vh;
  perspective: 800px;
  .card {
    filter: sepia(10%) blur(0px);
    transition: 1s;
    transform: rotateY(0deg) scale(1);
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    @media screen and (min-width: 768px) {
      width: 500px;
    }
    .card:hover {
      filter: sepia(20%);
      transform: rotateY(0deg) scale(1);
    }
  }
}
