// this  page contains style for modal

/*****************************
	--- MODAL
*****************************/
@import "../common/theme";
.modal{
  .modal-header{
    padding: 40px 30px 30px;
    p{
      margin: 0;
    }
  }
  .modal-title{
    margin-bottom: 17px;
  }
  .modal-md{
    width: 750px;
  }
  .modal-body{
    padding: 30px;
  }
  .modal_close{
    background: $scolor;
    line-height: 40px;
    color: #fff;
    margin-left: 10px;
    padding: 0 36px;
  }
}

/*item removal modal */
.item_removal {
  .btns{
    text-align: center;
    a{
      &+a{
        margin-left: 20px;
      }
    }
  }
  .modal-body{
    text-align: center;
    padding: 50px 30px;
    h4{
      margin-bottom: 20px;
      font-size: 24px;
      margin-bottom: 50px;
    }
  }

  .modal-dialog{
    top: 33%;
  }
}