// this file contains for different pagination style
/*****************************
	--- PAGINATION
*****************************/
.pagination-area{
  text-align: center;
  &.categorised_item_pagination{
    text-align: right;
  }
  .page-numbers{
    line-height: 36px;
    display: inline-block;
    min-width: 48px;
    transition: $transition;
    background: #fff;
    border-radius: 25px;
    font-weight: 500;
    margin-right: 2px;
    color: #747b86;
    text-align: center;
    &:hover, &.current{
      background: $pcolor;
      color: #fff;
    }
  }
  .prev{
    margin-right: 15px;
  }
  .next{
    margin-left: 15px;
  }
  .prev.page-numbers, .next.page-numbers{
    color: #000;
    font-size: 13px;
    &:hover{
      color: #fff;
      background: $scolor;
    }
  }
  &.pagination-area2{
    text-align: right;
    padding: 38px 30px;
    border-bottom: 1px solid $borderColor;
    .navigation{
        justify-content: flex-end;
    }
    .page-numbers{
      background: $bgcolor;
      text-align: center;
      color: #747b86;
      &:hover{
        background: $pcolor;
        color: #fff;
      }
      &.prev:hover, &.next:hover{
        background: $scolor;
      }
    }
    .pagination{
      margin: 0;
    }
  }

  &.pagination--right{
    text-align: right;
    .page-numbers{
      text-align: center;
    }
  }
}

/* Product Pagination */
.product-pagination{
    text-align: center;
    margin-top: 30px;
    ul{
        display: inline-block;
        border: 1px solid $borderColor;
        border-radius: 3px;
        li{
            display: inline-block;
            border-right: 1px solid $borderColor;
            margin-right: -5px;
            &:last-child{
                border-right: 0;
                margin-right: 0;
            }
            a{
                display: block;
                width: 40px;
                height: 40px;
                color: $text-color2;
                padding-top: 10px;
                text-align: center;
            }
            &.active{
                a{
                    background: $scolor;
                    color: #fff;
                }
            }
        }
    }
}
.comments-pagination{
    margin-bottom: 30px;
}