// this file contains the style for the team component
/*****************************
	-- TEAM
*****************************/
@import "../common/theme";
.team_area{
  background: $bgcolor2;
  padding:100px 0 70px 0;
}
.team-single{
    background: #fff;
    margin-bottom: 30px;
    border-radius: 3px;
    figure{
        text-align: center;
        padding: 30px;
        margin: 0;
        figcaption{
            margin-top: 25px;
            h3{
                font-size: 18px;
                margin: 0 0 15px 0;
            }
            span.member-title{
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
                background: $scolor;
                color: #fff;
                padding: 5px 15px;
                border-radius: 3px;
                line-height: initial;
                transition: $transition;
            }
            ul.team-social{
                margin-top: 25px;
                li{
                    display: inline-block;
                    margin-right: 25px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        color: $text-color2;
                        &:hover{
                            color: $pcolor;
                            stroke: $pcolor;
                        }
                    }
                }
            }
        }
        &:hover{
            figcaption{
                span.member-title{
                    background: $pcolor;
                }
            }
        }
    }
}