.system-module-create img.img-thumbnail,
.system-module-edit img.img-thumbnail {
  background: #dcdcdc;
  width: 150px;
}

html {
  font-size: 14px;
}

[v-cloak] {
  display: none;
}

a {
  color: #6c757d;
  text-decoration: none;
}

.card {
  border-radius: 0;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs .nav-link.active {
  background: #e4eaec !important;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}

.login h1.big-title {
  font-size: 35px;
  font-weight: 700;
  color: #383838;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.login form {
  width: 340px;
  display: block;
  margin: 0 auto;
}

.login form input,
.login form button {
  border-radius: 0px !important;
  font-size: 16px !important;
}

.login .remind {
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  color: #A6A6A6;
  margin-top: 20px;
}

.login .remind a {
  color: #03a9f4;
}

.login .remind a:hover {
  text-decoration: none;
}

.admin {
  background: url(/images/admin.jpg?88b465ee3f56974831ba1b781d8dfaf4);
  background-size: contain;
  height: 100vh;
}

.admin a:hover {
  text-decoration: none !important;
}

.admin .top-menu {
  background: #353644;
  margin-bottom: 10px;
}

.admin .admin-setting-menu .logo {
  background: url(/images/logo.png?b3f5a49c0352569233e01d072020e8a8) no-repeat;
  background-size: contain;
  height: 60px;
  opacity: 0.9;
}

.admin .admin-setting-menu .admin-site-menu a.tile {
  margin-right: 10px;
  padding: 0.5em 1em 0.5em 1em;
  display: block;
  float: right;
  width: 8em;
  text-align: center;
  background: #006675;
  color: #eeeeee;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
  text-decoration: none;
}

.admin .admin-setting-menu .admin-site-menu a.tile:hover {
  background: #438384;
}

.admin .admin-setting-menu .admin-site-menu a.tile i {
  display: block;
}

.admin .admin-setting-menu .admin-site-menu a.active {
  opacity: 0.95;
  background: #006675;
}

.admin .admin-footer a {
  color: #ffffff;
  display: inline-block;
}

.user-edit #icon {
  width: 200px;
  height: 200px;
}

body {
  background: #f8f9fa;
}

.admin-site {
  background-size: contain;
  height: 100vh;
}

.admin-site a:hover {
  text-decoration: none !important;
}

.admin-site .top-menu {
  background: #353644;
  margin-bottom: 10px;
}

.site-wechat-index .wx-img {
  height: 60px;
}

.system-setting-index h5.page-header {
  border: none;
  border-left: 0.3em #333333 solid;
  padding-left: 1em;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-size: 1rem;
}

.system-setting-index h5.page-header:first-child {
  margin-top: 10px;
}

.system-setting-index a.tile {
  margin-right: 10px;
  padding: 0.8em 1em 0.5em 1em;
  display: block;
  float: left;
  width: 8em;
  text-align: center;
  background: #eee;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
  text-decoration: none;
}

.system-setting-index a.tile:hover {
  background: #7dacdd;
  color: #ffffff;
}

.system-setting-index a.tile i {
  display: block;
  font-size: 2em;
}

.system-setting-index a.active {
  opacity: 0.95;
  background: #006675;
}

