.edu-lesson-show video {
  width: 100%;
  height: auto;
}

.edu-article-show .content {
  line-height: 2.5em;
  font-size: 16px;
  color: #555;
}

.dropdown-menu-card {
  border: 1px solid #e3ebf6 !important;
}

body {
  background: #F2F5F9;
}

[v-cloak] {
  display: none;
}

.hljs {
  line-height: 2em;
}

code {
  color: #717e90;
}

.edu-comment .card {
  border-radius: 0 !important;
}

.editormd {
  border: solid 1px #e3e3e3 !important;
}

.editormd ul.editormd-menu a {
  color: #95aac9 !important;
}

