body {
  @apply bg-[#F5F4F8] text-slate-600 font-mono;
  font-family: PingFangSC-Regular;
  word-break: break-all;
  a {
    @apply text-slate-600;
    &:hover {
      @apply text-[#ee5253] duration-200;
    }
  }
}
.el-form-item__error {
  @apply hidden;
}

.el-alert__content {
  display: flex !important;
  align-items: center !important;
}

table {
  max-width: 100vw;
  tr {
    td {
      word-break: break-all;
    }
  }
}

.el-backtop:hover {
  background-color: transparent !important;
}
