@charset "UTF-8";
/*
$k-media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
.k-pricing-v1 {
  margin: 2rem 0;
  padding: 0 2rem;
  border-left: 1px solid #ebebf5; }
  @media (max-width: 1399px) {
    .k-pricing-v1 {
      border-left: 0;
      margin: 0 2rem;
      padding: 2rem 0;
      border-bottom: 1px solid #ebebf5; }
      div[class*='col-']:nth-child(2n) .k-pricing-v1 {
        border-left-width: 0; } }
  .k-pricing-v1--last {
    border-left: 0; }
    @media (max-width: 1024px) {
      .k-pricing-v1--last {
        border-bottom: 0; } }
  .k-pricing-v1 .k-pricing-v1__header .k-iconbox__icon {
    margin-bottom: 3rem; }
  .k-pricing-v1 .k-pricing-v1__header .k-iconbox__title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0; }
  .k-pricing-v1 .k-pricing-v1__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__labels {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 1.25rem; }
      .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__labels .k-pricing-v1__labels-item {
        color: #9b98af;
        font-size: 1.15rem;
        font-weight: 500; }
        .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__labels .k-pricing-v1__labels-item:after {
          content: '•';
          -ms-flex-item-align: center;
          align-self: center;
          margin: 0 1rem;
          color: #d3d1dc; }
        .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__labels .k-pricing-v1__labels-item:first-child {
          margin-right: 0; }
        .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__labels .k-pricing-v1__labels-item:last-child {
          padding-left: 0; }
          .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__labels .k-pricing-v1__labels-item:last-child:after {
            content: none; }
    .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__content {
      color: #b2afc6;
      text-align: center;
      padding: 0 2rem;
      margin-bottom: 2rem; }
    .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__price {
      font-weight: 700;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__price .k-pricing-v1__price-currency {
        color: #cccce3;
        font-size: 1.75rem;
        font-weight: 300;
        -ms-flex-item-align: top;
        align-self: top;
        margin-top: 1rem;
        margin-right: 0.4rem; }
    .k-pricing-v1 .k-pricing-v1__body .k-pricing-v1__button {
      margin-bottom: 2.75rem; }
  .k-pricing-v1.k-pricing-v1--brand .k-pricing-v1__header .k-iconbox__icon {
    color: #536be2; }
  .k-pricing-v1.k-pricing-v1--brand .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #aab6f1; }
  .k-pricing-v1.k-pricing-v1--brand .k-pricing-v1__button .btn {
    background-color: #536be2;
    color: #ffffff;
    border-color: #536be2; }
    .k-pricing-v1.k-pricing-v1--brand .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--brand .k-pricing-v1__button .btn:focus {
      background-color: #2745db; }
  .k-pricing-v1.k-pricing-v1--metal .k-pricing-v1__header .k-iconbox__icon {
    color: #d3dae6; }
  .k-pricing-v1.k-pricing-v1--metal .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: white; }
  .k-pricing-v1.k-pricing-v1--metal .k-pricing-v1__button .btn {
    background-color: #d3dae6;
    color: #586272;
    border-color: #d3dae6; }
    .k-pricing-v1.k-pricing-v1--metal .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--metal .k-pricing-v1__button .btn:focus {
      background-color: #b2bfd4; }
  .k-pricing-v1.k-pricing-v1--light .k-pricing-v1__header .k-iconbox__icon {
    color: #ffffff; }
  .k-pricing-v1.k-pricing-v1--light .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: white; }
  .k-pricing-v1.k-pricing-v1--light .k-pricing-v1__button .btn {
    background-color: #ffffff;
    color: #282a3c;
    border-color: #ffffff; }
    .k-pricing-v1.k-pricing-v1--light .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--light .k-pricing-v1__button .btn:focus {
      background-color: #e6e6e6; }
  .k-pricing-v1.k-pricing-v1--dark .k-pricing-v1__header .k-iconbox__icon {
    color: #645ca1; }
  .k-pricing-v1.k-pricing-v1--dark .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #a19dc7; }
  .k-pricing-v1.k-pricing-v1--dark .k-pricing-v1__button .btn {
    background-color: #645ca1;
    color: #ffffff;
    border-color: #645ca1; }
    .k-pricing-v1.k-pricing-v1--dark .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--dark .k-pricing-v1__button .btn:focus {
      background-color: #504a80; }
  .k-pricing-v1.k-pricing-v1--accent .k-pricing-v1__header .k-iconbox__icon {
    color: #00c5dc; }
  .k-pricing-v1.k-pricing-v1--accent .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #43ebff; }
  .k-pricing-v1.k-pricing-v1--accent .k-pricing-v1__button .btn {
    background-color: #00c5dc;
    color: #ffffff;
    border-color: #00c5dc; }
    .k-pricing-v1.k-pricing-v1--accent .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--accent .k-pricing-v1__button .btn:focus {
      background-color: #0097a9; }
  .k-pricing-v1.k-pricing-v1--focus .k-pricing-v1__header .k-iconbox__icon {
    color: #9816f4; }
  .k-pricing-v1.k-pricing-v1--focus .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #c377f9; }
  .k-pricing-v1.k-pricing-v1--focus .k-pricing-v1__button .btn {
    background-color: #9816f4;
    color: #ffffff;
    border-color: #9816f4; }
    .k-pricing-v1.k-pricing-v1--focus .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--focus .k-pricing-v1__button .btn:focus {
      background-color: #7c0acd; }
  .k-pricing-v1.k-pricing-v1--primary .k-pricing-v1__header .k-iconbox__icon {
    color: #5867dd; }
  .k-pricing-v1.k-pricing-v1--primary .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #adb4ee; }
  .k-pricing-v1.k-pricing-v1--primary .k-pricing-v1__button .btn {
    background-color: #5867dd;
    color: #ffffff;
    border-color: #5867dd; }
    .k-pricing-v1.k-pricing-v1--primary .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--primary .k-pricing-v1__button .btn:focus {
      background-color: #2e40d4; }
  .k-pricing-v1.k-pricing-v1--success .k-pricing-v1__header .k-iconbox__icon {
    color: #1dc9b7; }
  .k-pricing-v1.k-pricing-v1--success .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #63e9db; }
  .k-pricing-v1.k-pricing-v1--success .k-pricing-v1__button .btn {
    background-color: #1dc9b7;
    color: #ffffff;
    border-color: #1dc9b7; }
    .k-pricing-v1.k-pricing-v1--success .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--success .k-pricing-v1__button .btn:focus {
      background-color: #179c8e; }
  .k-pricing-v1.k-pricing-v1--info .k-pricing-v1__header .k-iconbox__icon {
    color: #5578eb; }
  .k-pricing-v1.k-pricing-v1--info .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #b0c0f6; }
  .k-pricing-v1.k-pricing-v1--info .k-pricing-v1__button .btn {
    background-color: #5578eb;
    color: #ffffff;
    border-color: #5578eb; }
    .k-pricing-v1.k-pricing-v1--info .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--info .k-pricing-v1__button .btn:focus {
      background-color: #2754e6; }
  .k-pricing-v1.k-pricing-v1--warning .k-pricing-v1__header .k-iconbox__icon {
    color: #ffb822; }
  .k-pricing-v1.k-pricing-v1--warning .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #ffd988; }
  .k-pricing-v1.k-pricing-v1--warning .k-pricing-v1__button .btn {
    background-color: #ffb822;
    color: #111111;
    border-color: #ffb822; }
    .k-pricing-v1.k-pricing-v1--warning .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--warning .k-pricing-v1__button .btn:focus {
      background-color: #eea200; }
  .k-pricing-v1.k-pricing-v1--danger .k-pricing-v1__header .k-iconbox__icon {
    color: #fd397a; }
  .k-pricing-v1.k-pricing-v1--danger .k-pricing-v1__price .k-pricing-v1__price-currency {
    color: #fe9ebe; }
  .k-pricing-v1.k-pricing-v1--danger .k-pricing-v1__button .btn {
    background-color: #fd397a;
    color: #ffffff;
    border-color: #fd397a; }
    .k-pricing-v1.k-pricing-v1--danger .k-pricing-v1__button .btn:hover, .k-pricing-v1.k-pricing-v1--danger .k-pricing-v1__button .btn:focus {
      background-color: #fc0758; }
