@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Liberation Sans',
        'PingFang SC', 'Microsoft YaHei', 'Hiragino Sans GB', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, SimSun, 'WenQuanYi Zen Hei Sharp',
        sans-serif !important;

    /* font-family: 'Jetbrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; */
}
body {
    /* font-size: inherit !important; */
    font-size: 1rem !important;
    background-color: #f3f3f3 !important;
}

[v-cloak] {
    display: none;
}
.el-loading-spinner {
    top: 50%;
    margin-top: -21px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
}
a {
    text-decoration: none !important;
    color: #555;
    cursor: pointer;
}
a:hover {
    text-decoration: none !important;
}

.hljs {
    background-color: #3c4b53 !important;
    font-family: 'Jetbrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 0.95rem !important;
    line-height: 1.5rem;
    padding: 1.5rem !important;
}

svg,
img {
    max-width: 100% !important;
}

.markdown table {
    border: solid 1px #ddd;
}
