@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .el-form-item {
    margin-bottom: 10px !important;
} */

.el-card__header {
    padding: 10px 20px !important;
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
}
