a {
  text-decoration: none !important;
  color: #999;
}
:root {
  font-size: 15px;
}
[v-cloak] {
  display: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif !important;
  font-size: 1rem;
}
.text-blue {
  color: #3f81c7 !important;
  &:hover {
    color: #31557c !important;
  }
}
.card-header,
.card-footer {
  background: rgba(0, 0, 0, 0.01);
}

.nav-tabs {
  .nav-link {
    margin-right: 0.3rem;
    margin-bottom: -1px;
    color: #999;
    font-weight: normal;
    border: 1px solid #eaeaea !important;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    font-size: 0.95rem;
    &:hover {
      color: #1890ff;
    }
    &.active {
      border: 1px solid #eaeaea !important;
      border-bottom: none !important;
      color: #1890ff;
      font-weight: bold;
    }
  }
}

.page-link {
  color: #999;
}
