@import "edu.scss";

.dropdown-menu-card {
    border: 1px solid #e3ebf6 !important;
}

body {
    background: #F2F5F9;
}

//评论框
.edu-comment {
    .card {
        border-radius: 0 !important;
        //border-bottom: 1px solid #edf2f9 !important;
        //margin-bottom: 0 !important;;
    }
}

//编辑器
.editormd {
    border: solid 1px #e3e3e3 !important;
    ul.editormd-menu {
        a {
            color: #95aac9 !important;
        }
    }
}
