.edu-home {
  article.lesson-list {
    .position-relative {
      img {
        height: 195px;
      }
    }
    h4.h6 {
      height: 50px;
    }
  }
}

.edu-lesson-show {
  video {
    width: 100%;
    height: auto;
  }
}

.edu-article-show {
  .content {
    line-height: 2.5em;
    font-size: 16px;
    color: #555;
  }
}
