.edu-lesson-show {
    video {
        width: 100%;
        height: auto;
    }
}

.edu-article-show {
    .content {
        line-height: 2.5em;
        font-size: 16px;
        color: #555;
    }
}
