.edu-lesson-show {
  .lesson-list {
    .video-title {
      font-weight: normal;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.edu-lesson-lists {
  article {
    .position-relative{
     img{
       height: 195px;
     }
    }
    h4.h6 {
      height: 50px;
    }
  }
}