html {
  font-size: 14px;
  color: #636b6f;
}

[v-cloak] {
  display: none;
}

a {
  color: #6c757d;
  text-decoration: none !important;
}

.card {
  border-radius: 0;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs .nav-link.active {
  background: #e4eaec !important;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}

.shop .header {
  border-width: 4px !important;
}

.shop .front .home .plan {
  background-image: -webkit-linear-gradient(left, white, #efefef);
}

.shop .front .home .plan .banner {
  background-image: url(/images/shop_home_banner.png?75a2593e601c85fcd35a505609de66f5);
  background-repeat: no-repeat;
  background-position: right;
}

.shop .front .home .application {
  background-image: -webkit-linear-gradient(bottom, white, #dae6f3);
}

.shop .front .home .application .scenario {
  background: url(/images/shop_kuaisu.png?d2b965723148e86ecd32fb88c8f767ad) no-repeat right;
}

.shop .front .home .soft {
  background: url(/images/shop_Jietu20190303-110612.jpg?89554bcdffe40bcddd5e8b48f7bcfee8) no-repeat;
  background-size: contain;
}

.shop-front-module-show .content img {
  max-width: 100%;
}

