.account {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .content {
  width: 450px;
}

@media screen and (max-width: 768px) {
  .account .content {
    width: 90%;
  }
}

.front {
  background: #fafafa;
}

.front .header {
  border-bottom: solid 4px #41a8a5;
}

.front .header .navbar-nav {
  font-size: 1.1rem;
}

.front .lesson img {
  width: 100%;
  max-height: 218px;
}

.front .w45 {
  width: 45px;
}

.front .w35 {
  width: 35px;
}

.front .h35 {
  height: 35px;
}

.front .avatar25 {
  width: 25px;
  height: 25px;
}

.front .avatar35 {
  width: 35px;
  height: 35px;
}

.front .avatar45 {
  width: 45px;
  height: 45px;
}

.front .avatar40 {
  width: 40px;
  height: 40px;
}

.front .h5 {
  font-size: 1.125rem;
}

.front .Edu-front-topic-show .topic-content {
  font-size: 1rem;
  line-height: 2rem;
  color: #555;
}

.front .Edu-front-topic-show .topic-content img {
  max-width: 100%;
}

.Edu-front-video-show .video {
  background: #262b36;
}

.Edu-front-video-show .video video {
  width: 100%;
  height: auto;
  outline: none;
}

.Edu-front-system-index img {
  width: 100%;
}

.Edu-front-sign-index form input:checked + img {
  border: solid 5px #f15a57;
}

.Edu-front-sign-index form img {
  float: left;
  border: solid 5px #eae8e8;
  margin-right: 10px;
  padding: 5px 6px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f3f3f3;
  transition: 0.5s;
}

.Edu-front-subscribe-index .subscribe {
  background: #f1f1ed;
  padding-bottom: 5rem;
}

.Edu-front-subscribe-index .subscribe .header {
  background-image: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
  background-repeat: repeat-x;
  padding: 20px 20px 120px;
}

.Edu-front-subscribe-index .subscribe .header h1 {
  font-size: 4rem;
  margin-top: 6rem;
}

.Edu-front-subscribe-index .subscribe .header h2 {
  font-weight: 200;
  opacity: 0.6;
  margin-top: 2rem;
  color: #fff;
  text-align: center;
}

.Edu-front-subscribe-index .subscribe .items {
  margin-top: -5rem;
  padding-bottom: 3rem;
}

.Edu-front-subscribe-index .subscribe .items .price {
  font-weight: normal;
  font-size: 3rem;
  text-shadow: 0 0 3px #aaa;
}

.Edu-front-subscribe-index .subscribe .items .card-footer {
  background: #f1f2ec;
}

.front .markdown {
  color: #636b6f !important;
  line-height: 1.8em;
  word-break: break-all;
}

.front .markdown a {
  color: #3182ce;
}

.front .markdown a:hover {
  color: #236eb4;
}

.front .markdown img {
  max-width: 100%;
}

.front .markdown h1,
.front .markdown h2 {
  font-size: 1.3em;
  border-bottom: solid 1px #dddddd;
  padding-bottom: 15px !important;
  margin-top: 40px;
  margin-bottom: 20px;
}

.front .markdown h3,
.front .markdown h4,
.front .markdown h5,
.front .markdown h6 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.front .markdown table {
  width: 100%;
  word-break: break-all;
}

.front .markdown table th {
  background: #f3f3f3;
}

.front .markdown table td,
.front .markdown table th {
  border: solid 1px #ddd;
  padding: 10px;
}

.front .markdown pre {
  word-break: break-word;
  background-color: #363f52;
}

@media screen and (min-width: 768px) {
  .front .markdown pre {
    position: relative;
    left: -45px;
    width: 823px;
    padding: 1rem 3rem;
  }
}

.front .markdown pre code {
  word-break: break-word;
  white-space: pre-wrap;
  background-color: #363f52;
  line-height: 2em;
}

