.admin-top {
    height: 55px;
    background-color: #021524;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .container {
        margin: 0 30px;
        display: flex;
        justify-content: space-between;

        .links {
            a {
                margin-right: 30px;
                color: #999999;
                font-weight: bold;

                &:hover {
                    color: #ccc;
                }
            }
        }
    }

    .user-menu {
        color: #999999;
        font-weight: bold;

        a {
            margin-bottom: 50px;
            color: red;
        }
    }
}
