@import 'element.scss';
:root {
  font-size: 15px;
}

input,
button,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC,
    Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
a {
  text-decoration: none !important;
  color: #495057;
}
