/*
$k-media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
@media (min-width: 1025px) {
  .k-header {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1); }
    .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link {
      border-radius: 4px; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link .k-menu__link-text {
        color: #6c7293;
        font-weight: 500; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link .k-menu__hor-arrow {
        color: #c8cde8; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link .k-menu__hor-icon {
        color: #c8cde8; }
    .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link {
      background-color: #f0f3ff; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link .k-menu__link-text, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link .k-menu__link-text, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link .k-menu__link-text {
        color: #536be2; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link .k-menu__hor-arrow, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link .k-menu__hor-arrow, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link .k-menu__hor-arrow {
        color: #536be2; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link .k-menu__hor-icon, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link .k-menu__hor-icon, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link .k-menu__hor-icon {
        color: #536be2; } }

.k-aside-secondary--enabled .k-header .k-header__topbar {
  padding-left: 0; }

.k-header .k-header__topbar .k-header__topbar-item .k-header__topbar-icon i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #b4b8ce; }

.k-header .k-header__topbar .k-header__topbar-item.k-header__topbar-item--user .k-header__topbar-user .k-header__topbar-welcome {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #959cb6; }

.k-header .k-header__topbar .k-header__topbar-item.k-header__topbar-item--user .k-header__topbar-user .k-header__topbar-username {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #6c7293; }

.k-header .k-header__topbar .k-header__topbar-item.k-header__topbar-item--quick-panel .k-header__topbar-icon i {
  color: #536be2; }

.k-header .k-header__topbar .k-header__topbar-item:hover .k-header__topbar-icon, .k-header .k-header__topbar .k-header__topbar-item.show .k-header__topbar-icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f0f3ff; }
  .k-header .k-header__topbar .k-header__topbar-item:hover .k-header__topbar-icon i, .k-header .k-header__topbar .k-header__topbar-item.show .k-header__topbar-icon i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #536be2; }

.k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar-item--user .k-header__topbar-user, .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar-item--user .k-header__topbar-user {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f0f3ff; }

.k-aside-secondary--enabled .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar-item--quick-panel, .k-aside-secondary--enabled .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar-item--quick-panel {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #536be2; }
  .k-aside-secondary--enabled .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar-item--quick-panel .k-header__topbar-icon, .k-aside-secondary--enabled .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar-item--quick-panel .k-header__topbar-icon {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent !important; }
    .k-aside-secondary--enabled .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar-item--quick-panel .k-header__topbar-icon i, .k-aside-secondary--enabled .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar-item--quick-panel .k-header__topbar-icon i {
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: #ffffff; }

.k-header .k-header__topbar .k-header__topbar-item.k-header__topbar-item--search .k-input-icon .k-input-icon__icon i {
  color: #a1a8c3; }

@media (max-width: 1024px) {
  .k-header__topbar {
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .k-header__topbar--mobile-on .k-header__topbar {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    border-top: 1px solid #ebedf2; } }
